html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
}

.parallax {
    background-image: url("/media/small-book-shelf.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body div {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, .75);
    height: 5em;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
}

form{
    padding: 0;
    margin: 0;
    background-color: #dddfd4;
    display: flex;
    height: 2.5em;
    border-radius: .5em;
    outline: none;
    cursor: pointer;
}

form select {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    border: none;
    text-align: -webkit-center;
    text-align: center;
    text-align: justify;
    width: 25vw;
    border-radius: .5em 0 0 .5em;
    outline: none;
    text-indent: 1em;
    appearance: none;    

}

form select:hover{
    background-color: rgb(236, 236, 236);
}

form select option {
    text-indent: .5em;
    background-color: whitesmoke;
}

form input {
    margin: 0;
    padding: 0;
    border: none;
    appearance: none;
    width: 100%;
    outline: none;
    text-indent: 2em;
}

form button {
    margin: 0;
    padding: 0;
    background-color: #005f00;
    color: whitesmoke;
    border: none;
    appearance: none;
    text-align: center;
    width: 25vw;
    border-radius: 0 .5em .5em 0;
    outline: none;
    cursor: pointer;
}

form button:hover {
    background-color: #007C00;
}

main {
    display: flex;
    flex-grow: 1;
    margin: 5em 0 auto;
    padding: 0;
}

footer {
    background-color: rgba(0, 0, 0, .75);
    height: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font: normal small-caps 600 1em Arial;
}

.bookContainer {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 1em;
    padding: 2em;
}

.bookCard {
    background-color:rgb(220, 222, 211, .9);
    border-radius: 1em;
    display: flex;
    padding: 1em;
    min-width: 300px;
    flex-direction: column;
    align-items: stretch;
}

.row{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-bottom: 1em;
}

.row a{
    width: 50%;
}

.bookCover{
    width: 100%;
}

.bookDetails {
    width:100%;
    margin-left: 1em;
    margin-top: 1em;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    align-items: center;
}

.linkbtn{
    width: 25%;
    background-color: #1E5D1E;
    height: max-content;
}

.linkbtn a {
    display: flex;
    color: whitesmoke;
    height: 2em;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.linkbtn a:hover{
    background-color: #00A900;
    margin: 0;
    padding: 0;
}

/* Typography */
h1, h2, h3, h4, h5, ul, li, p {
    margin: 0;
    line-height: normal;
}

h3{
    margin-bottom: .5em;
}

p{
    margin: .5em 0;
}
#description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

#title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

@media only screen and (max-width: 1200px) {
    .bookContainer {
        grid-template: 1fr 1fr / 1fr 1fr;
    }
}
@media only screen and (max-width: 900px) {
    .bookContainer {
        grid-template: 1fr 1fr 1fr / 1fr;
    }
}
@media only screen and (max-width: 600px) {
    .bookContainer {
        grid-template: 1fr 1fr 1fr / 1fr;
        padding: .5em;
    }
    header{
        flex-direction: column;
        padding: .5em 0;
    }
    main {
    margin-top: 8em;
    }
    form input {
        text-indent: 1em;
    }

    form select{
        text-indent: .25em;
    }
}